/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* VARIABLES CSS */
:root {
  /* Color */
  --first-color: #;
  --first-color-light: #;
  --first-color-lighten: #;

  /* Font and typography */
  --body-font: ;
  --normal-font-size: ;
  --small-font-size: ;
}

/* BASE */

/*  */
